:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --primary-rules-bg-color: #F5F4FA;
    --primary-footer-text-color: rgba(255, 255, 255, 0.6);
    --primary-footer-bg-color: #2F303A;
    --primary-team-bg-color: #F5F4FA;
    --accent-bg-hover-color: #188CE8;
    --border-color: #EEEEEE;
    --border-footer: #ECECEC;
    --socials-link-color: #AFB1B8;
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}