           
           /* Footer Form */

.footer-subscription {
    @include mq(desktop) {
     display: block;
     margin-left: 93px;
    }

        @include mq(not-desktop) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }



    &__title {
        @include mq(desktop) {
        display: block;
        
    }

        margin-bottom: 20px;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: var(--primary-white-color);
    }
}

.footer-form {
    @include mq(not-desktop) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    display: flex;

    &__input {
        @include mq(desktop) {
            width: 358px;
            margin-right: 12px;
        }

        width: 450px;

        padding: 15px 16px;

        @include mq(not-desktop) {
            margin-bottom: 20px;
        }
        

        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;

        color: rgba(255, 255, 255, 0.6);
        background-color: transparent;

        outline: transparent;
    }

    &__input::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;

        display: flex;
        align-items: center;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
    }

    &__btn {
        display: flex;

        padding-top: 10px;
        padding-right: 28px;
        padding-bottom: 10px;
        padding-left: 29px;

        @extend %btn;
    }

    &__btn:hover,
    &__btn:focus {
        color: var(--primary-white-color);
        background-color: var(--accent-bg-hover-color);
    }

    &__icon {
        margin-left: 10px;
    }
}
