
/* Mobile menu */

.mobile-header {  
    @include mq(tablet) {
            display: none;
        }
    
        border-bottom: 1px solid var(--border-footer);

        padding-right: 15px;
        padding-left: 15px;

    &__logo {
        color: var(--accent-color);
            font-family: Raleway, sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 1.17;
            text-decoration: none;
    }

        &__text {
       
            color: var(--title-text-color);
            font-family: Raleway,
            sans-serif;
    
            font-weight: 700;
            font-size: 24px;
            line-height: 1.17;
            text-decoration: none;
        }
    
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        padding-top: 10px;
        padding-bottom: 10px;
    }

    display: flex;
    justify-content: space-between;

    &__button {
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;

        z-index: 200;
    }    
}

.mobile-header__button .mobile-header__icon-close {
    display: none;
}

.mobile-header__button.is-open .mobile-header__icon-close {
    display: block;
}

.mobile-header__button.is-open .mobile-header__icon-menu {
    display: none;
}

.mobile-menu {
    z-index: 1;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    

    background-color: var(--primary-white-color);
    padding: 48px 40px;
    text-align: center;
    font-size: 20px;

    &.is-open {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

   &__nav {
    margin-bottom: 64px;
   }
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    &__link {
            text-decoration: none;
            color: var(--title-text-color);
        }
    
        &__link:hover,
        &__link:focus {
            color: var(--accent-color);
        }

        &__item {
            font-weight: 500;
            font-size: 40px;
            line-height: 1.17;
        }

    &__item:not(:last-child) {
        margin-bottom: 32px;
    }

    &__item:last-child {
        margin-bottom: 302px;
    }
}

.mobile-contacts {
    display: flex;
        flex-direction: column;
        align-items: baseline;
    
        &__link {
            text-decoration: none;
            color: var(--title-text-color);
        }

    &__link--phone {
        font-weight: 500;
            font-size: 34px;
            line-height: 1.17;

            color: var(--accent-color);
    }

        &__link--mail {
            font-weight: 500;
            font-size: 24px;
            line-height: 1.17;
    
            color: var(--primary-text-color);
        }

    &__item:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mobile-socials {
    display: flex;
    flex-direction: row;
    

    &__link {
            text-decoration: none;
            color: var(--accent-color);
        }

    &__item {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
        padding-left: 10px;
    }

        &__item:first-child {
            padding-left: 0;
        }
    
        &__item:last-child {
            padding-right: 0;
            border-right: none;
        }


        

           &__item {
               font-weight: 500;
               font-size: 18px;
               line-height: 1.22;
           }
    
    
}






