        
        /* Hero */

.section-hero {
    max-width: 1600px;
    @include mq(not-desktop) {
        min-height: 400px;
        padding-top: 118px;
        padding-bottom: 118px;
    }
    min-height: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    
    background-color: var(--primary-footer-bg-color);
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/background/bg-hero_sm.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/background/bg-hero_sm@2x.jpg);
    }

  

    @include mq(tablet) {
        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/background/bg-hero_md.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/background/bg-hero_md@2x.jpg);
            }
    }

    @include mq(desktop) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/background/bg-hero_lg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/background/bg-hero_lg@2x.jpg);
            }
    }

    &__title {
            margin-bottom: 30px;
            margin-right: auto;
            margin-left: auto;

            @include mq(not-desktop) {
                width: 100%;
                max-width: 360px;
            }
            width: 696px;
            color: var(--primary-white-color);

        @include mq(not-desktop) {
            font-weight: 900;
                font-size: 26px;
                line-height: 1.62;
        }

            text-align: center;
            font-weight: 900;
            font-size: 44px;
            line-height: 1.44;
    
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }
    
    
    &__btn {
            padding: 10px 32px;
            
            @extend %btn;
        }
    
    &__btn:hover,
    &__btn:focus {
            color: var(--primary-white-color);
            background-color: var(--accent-bg-hover-color);
        }
}

