                    
                    /* Portfolio Projects */
                    
.portfolio {
    @media screen and (min-width: 480px) {
        padding-top: 60px;
        padding-bottom: 60px;
        }
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.projects {
    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
    }
}

.projects {
    
    &__item {
        @include mq(mobile) {
            width: 100%;
        }

        @include mq (tablet) {
            width: calc((100% - 30px) / 2);
        }

        @include mq(desktop) {
                width: calc((100% - 60px) / 3);
                margin-right: 30px;
                margin-bottom: 30px;
            }
    }

    &__item:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }

    &__item {
        @include mq(tablet) {
            margin-bottom: 30px;
        }
    }

    &__item:nth-child(2n+1) {
        @include mq(tablet) {
            margin-right: 30px;
        }
    }

    &__item:last-child {
        margin: 0px;
    } 
        
    
    &__item:nth-child(3n) {
        @include mq(desktop) {
            margin-right: 0;
        }
    }
    
    &__item:nth-last-child(-n + 3) {
        @include mq(desktop) {
                margin-bottom: 0;
            }
        }
    
    &__link {
            display: inline-block;
    
            text-decoration: none;
    
            transition: box-shadow var(--timing-function);
        }
    &__link:hover,
    &__link:focus {
            box-shadow:
                0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
            cursor: pointer;
        }
    
    &__link:hover .projects-thumb__text,
    &__link:focus .projects-thumb__text {
            transform: translateY(0%);
        }
}

.projects-thumb {
    position: relative;
    overflow: hidden;

    &__text {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);

        padding: 63px 24px;
        color: var(--primary-white-color);

        font-weight: 400;
        font-size: 18px;
        line-height: 1.55;
        letter-spacing: 0.03em;


        transform: translateY(100%);
        transition: transform var(--timing-function);

    }
}

.projects-border {
    padding: 20px 24px;

    background-color: var(--primary-white-color);
    border: 1px solid var(--border-color);
    border-top: none;

    &__title {
            color: var(--title-text-color);
    
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
        }
    
    &__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.89;
            letter-spacing: 0.03em;
    
            color: var(--primary-text-color);
        }
}

